@charset "UTF-8";

    /*main部分start*/
    .main-slider {
        float: left;
        width: 730px;
        height: 454px;
        position: relative;
        margin: 12px 0 0 220px;
    }
    .main-slider ul {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -66px;
    }
    .main-slider li {
        float: left;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        background-color: #3E3E3E;
        margin: 0 2px;
        cursor: pointer;
        color: white;
    }
    .main-slider .current {
        background-color: white;
    }
    .arrow a {
        position: absolute;
        top: 50%;
        margin-top: -31px;
        width: 28px;
        height: 62px;
        background-color: rgba(0, 0, 0, 0.3);
        /*opacity: 0.1;*/
        border-radius: 10px;
        color: #fff;
        text-align: center;
        font: 400 22px/62px "simsun";
    }
    .arrow a:hover {
        background: rgba(0, 0, 0, .7);
    }
    .arrow-left {
        left: 0;
        border-radius: 0 10px 10px 0;
    }
    .arrow .arrow-right {
        right: 0;
        border-radius: 10px 0 0 10px;
    }
    .main-news {
        float: right;
        width: 250px;
        height: 466px;
    }
    .main-news-top {
        width: 248px;
        height: 372px;
        overflow: hidden;
        margin: 12px 0 5px 0;
        border: 1px solid #E4E4E4;
    }
    .main-news-top-faster {
        height: 163px;
        border-bottom: 1px dashed #E4E4E4;    /*虚线-----dashed*/
    }
    .main-news-top-faster-title {
        height: 32px;
        padding: 0 15px;
        line-height: 32px;
        border-bottom: 1px dotted #E8E8E7;   /*点线-----dotted*/
    }
    .main-news-top-faster-title h2 {
        float: left;
        font: 400 16px/32px "microsoft yahei";
    }
    .main-news-top-faster-title a {
        float: right;
        font-family: "consolas";
    }
    .main-news-top-content {
        padding: 5px 0 0 15px;
    }
    .main-news-top-content li {
        line-height: 24px;
    }
    .main-news-top-content span {
        font-weight: 700;
        margin-right: 5px;
    }
    .main-news-top-money ul {
        width: 260px;
    }
    .main-news-top-money li {
        width: 62px;
        height: 70px;
        float: left;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #E8E8E7;
        border-top: 0;
    }
    /*.main-news-t*/
    /*main部分end*/