@charset "UTF-8";

    /*main部分start*/
    .main-slider {
        float: left;
        width: 730px;
        height: 454px;
        position: relative;
        margin: 12px 0 0 220px;
    }
    .main-slider ul {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -66px;
    }
    .main-slider li {
        float: left;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        background-color: #3E3E3E;
        margin: 0 2px;
        cursor: pointer;
        color: white;
    }
    .main-slider .current {
        background-color: white;
    }
    .arrow a {
        position: absolute;
        top: 50%;
        margin-top: -31px;
        width: 28px;
        height: 62px;
        background-color: rgba(0, 0, 0, 0.3);
        /*opacity: 0.1;*/
        border-radius: 10px;
        color: #fff;
        text-align: center;
        font: 400 22px/62px "simsun";
    }
    .arrow a:hover {
        background: rgba(0, 0, 0, .7);
    }
    .arrow-left {
        left: 0;
        border-radius: 0 10px 10px 0;
    }
    .arrow .arrow-right {
        right: 0;
        border-radius: 10px 0 0 10px;
    }
    .main-news {
        float: right;
        width: 250px;
        height: 466px;
    }
    .main-news-top {
        width: 248px;
        height: 372px;
        margin: 12px 0 5px 0;
        border: 1px solid #E4E4E4;
    }
    /*.main-news-t*/
    /*main部分end*/